* text=auto

*.sh text eol=lf
*.cmd text eol=lf
*.bat text eol=lf
Makefile  text eol=lf


*.vcxproj text eol=crlf
*.sln     text eol=crlf
*.props   text eol=crlf

*.jpg    binary
*.png    binary
*.gif    binary

*.mp4    binary -delta
*.aac    binary -delta
*.docx   binary -delta
*.exe    binary
*.elf    binary
*.psd    binary
*.pdf    binary

*.669    binary  
*.amf    binary  
*.dmf    binary  
*.far    binary 
*.it     binary  
*.med    binary  
*.mt2    binary 
*.mtm    binary   
*.okt    binary  
*.s3m    binary   
*.stm    binary   
*.ult    binary   
*.xm     binary  